// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$cultured: #f8f9fa;
$cultured2: #e9ecef;
$gainsboro: #dee2e6;
$lightgray: #ced4da;
$cadetblue: #adb5bd;
$slategray: #6c757d;
$davysgrey: #495057;
$gunmetal: #343a40;
$charlestongreen: #212529;
$themelightblue: #072ac8;
$custombg1: radial-gradient(
    circle at center center,
    transparent,
    rgb(255, 255, 255)
  ),
  linear-gradient(
    309deg,
    rgba(90, 90, 90, 0.11) 0%,
    rgba(90, 90, 90, 0.11) 50%,
    rgba(206, 206, 206, 0.05) 50%,
    rgba(206, 206, 206, 0.05) 100%
  ),
  linear-gradient(
    39deg,
    rgb(226, 234, 252) 0%,
    rgb(226, 234, 252) 50%,
    rgba(189, 189, 189, 0.27) 50%,
    rgba(189, 189, 189, 0.27) 100%
  ),
  linear-gradient(
    144deg,
    rgba(249, 249, 249, 0) 0%,
    rgba(249, 249, 249, 0) 50%,
    rgba(111, 111, 111, 0.1) 50%,
    rgba(111, 111, 111, 0.1) 100%
  ),
  linear-gradient(
    166deg,
    rgba(231, 231, 231, 0) 0%,
    rgba(231, 231, 231, 0) 50%,
    rgb(226, 234, 252) 50%,
    rgb(226, 234, 252) 100%
  ),
  linear-gradient(
    212deg,
    rgba(80, 80, 80, 0.05) 0%,
    rgba(80, 80, 80, 0.05) 50%,
    rgba(243, 243, 243, 0) 50%,
    rgba(243, 243, 243, 0) 100%
  ),
  radial-gradient(
    circle at center center,
    hsl(107, 19%, 100%),
    hsl(107, 19%, 100%)
  );
$custombg2: linear-gradient(
    134deg,
    rgba(226, 234, 252, 0) 0%,
    rgba(226, 234, 252, 0) 16%,
    transparent 16%,
    transparent 76%,
    rgba(58, 58, 58, 0.08) 76%,
    rgba(58, 58, 58, 0.08) 100%
  ),
  linear-gradient(
    215deg,
    rgba(226, 234, 252, 0.42) 0%,
    rgba(226, 234, 252, 0.42) 33%,
    transparent 33%,
    transparent 79%,
    rgba(226, 234, 252, 0.76) 79%,
    rgba(226, 234, 252, 0.76) 100%
  ),
  linear-gradient(
    303deg,
    rgba(215, 215, 215, 0.02) 0%,
    rgba(215, 215, 215, 0.02) 7%,
    transparent 7%,
    transparent 90%,
    rgba(192, 192, 192, 0.13) 90%,
    rgba(192, 192, 192, 0.13) 100%
  ),
  linear-gradient(
    302deg,
    rgba(113, 113, 113, 0.09) 0%,
    rgba(113, 113, 113, 0.09) 34%,
    transparent 34%,
    transparent 73%,
    rgba(65, 65, 65, 0.04) 73%,
    rgba(65, 65, 65, 0.04) 100%
  ),
  linear-gradient(90deg, rgba(226, 234, 252, 0), rgba(226, 234, 252, 0));
