// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$cultured: #f8f9fa;
$cultured2: #e9ecef;
$gainsboro: #dee2e6;
$lightgray: #ced4da;
$cadetblue: #adb5bd;
$slategray: #6c757d;
$davysgrey: #495057;
$gunmetal: #343a40;
$charlestongreen: #212529;
