// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$cultured: #f8f9fa;
$cultured2: #e9ecef;
$gainsboro: #dee2e6;
$lightgray: #ced4da;
$cadetblue: #adb5bd;
$slategray: #6c757d;
$davysgrey: #495057;
$gunmetal: #343a40;
$charlestongreen: #212529;
$themelightblue: #1cb5e0;
$custombg1: radial-gradient(
    circle at center center,
    transparent,
    rgb(255, 255, 255)
  ),
  linear-gradient(
    309deg,
    rgba(90, 90, 90, 0.05) 0%,
    rgba(90, 90, 90, 0.05) 50%,
    rgba(206, 206, 206, 0.05) 50%,
    rgba(206, 206, 206, 0.05) 100%
  ),
  linear-gradient(
    39deg,
    rgba(13, 13, 13, 0.05) 0%,
    rgba(13, 13, 13, 0.05) 50%,
    rgba(189, 189, 189, 0.05) 50%,
    rgba(189, 189, 189, 0.05) 100%
  ),
  linear-gradient(
    144deg,
    rgba(249, 249, 249, 0.05) 0%,
    rgba(249, 249, 249, 0.05) 50%,
    rgba(111, 111, 111, 0.05) 50%,
    rgba(111, 111, 111, 0.05) 100%
  ),
  linear-gradient(
    166deg,
    rgba(231, 231, 231, 0.05) 0%,
    rgba(231, 231, 231, 0.05) 50%,
    rgba(220, 220, 220, 0.05) 50%,
    rgba(220, 220, 220, 0.05) 100%
  ),
  linear-gradient(
    212deg,
    rgba(80, 80, 80, 0.05) 0%,
    rgba(80, 80, 80, 0.05) 50%,
    rgba(243, 243, 243, 0.05) 50%,
    rgba(243, 243, 243, 0.05) 100%
  ),
  radial-gradient(
    circle at center center,
    hsl(107, 19%, 100%),
    hsl(107, 19%, 100%)
  );
$custombg2: linear-gradient(
    23deg,
    rgba(202, 202, 202, 0.02) 0%,
    rgba(202, 202, 202, 0.02) 13%,
    transparent 13%,
    transparent 80%,
    rgba(11, 11, 11, 0.02) 80%,
    rgba(11, 11, 11, 0.02) 100%
  ),
  linear-gradient(
    42deg,
    rgba(98, 98, 98, 0.02) 0%,
    rgba(98, 98, 98, 0.02) 36%,
    transparent 36%,
    transparent 77%,
    rgba(252, 252, 252, 0.02) 77%,
    rgba(252, 252, 252, 0.02) 100%
  ),
  linear-gradient(
    286deg,
    rgba(173, 173, 173, 0.02) 0%,
    rgba(173, 173, 173, 0.02) 2%,
    transparent 2%,
    transparent 12%,
    rgba(59, 59, 59, 0.02) 12%,
    rgba(59, 59, 59, 0.02) 100%
  ),
  linear-gradient(
    77deg,
    rgba(87, 87, 87, 0.02) 0%,
    rgba(87, 87, 87, 0.02) 18%,
    transparent 18%,
    transparent 55%,
    rgba(247, 247, 247, 0.02) 55%,
    rgba(247, 247, 247, 0.02) 100%
  ),
  linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
$custombg3: linear-gradient(
    23deg,
    rgb(226, 234, 252) 0%,
    rgb(226, 234, 252) 13%,
    transparent 13%,
    transparent 80%,
    rgb(226, 234, 252) 80%,
    rgb(226, 234, 252) 100%
  ),
  linear-gradient(
    42deg,
    rgba(98, 98, 98, 0.03) 0%,
    rgba(98, 98, 98, 0.03) 36%,
    transparent 36%,
    transparent 77%,
    rgba(252, 252, 252, 0) 77%,
    rgba(252, 252, 252, 0) 100%
  ),
  linear-gradient(
    286deg,
    rgb(226, 234, 252) 0%,
    rgb(226, 234, 252) 2%,
    transparent 2%,
    transparent 12%,
    rgba(59, 59, 59, 0) 12%,
    rgba(59, 59, 59, 0) 100%
  ),
  linear-gradient(
    77deg,
    rgba(87, 87, 87, 0.02) 0%,
    rgba(87, 87, 87, 0.02) 18%,
    transparent 18%,
    transparent 55%,
    rgba(247, 247, 247, 0.7) 55%,
    rgba(247, 247, 247, 0.7) 100%
  ),
  linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
$custombg4: radial-gradient(
    circle at center center,
    transparent,
    rgb(255, 255, 255)
  ),
  linear-gradient(
    309deg,
    rgba(90, 90, 90, 0.05) 0%,
    rgba(90, 90, 90, 0.05) 50%,
    rgba(226, 234, 252, 0.5) 50%,
    rgba(226, 234, 252, 0.5) 100%
  ),
  linear-gradient(
    39deg,
    rgba(13, 13, 13, 0.05) 0%,
    rgba(13, 13, 13, 0.05) 50%,
    rgba(189, 189, 189, 0.05) 50%,
    rgba(189, 189, 189, 0.05) 100%
  ),
  linear-gradient(
    144deg,
    rgba(249, 249, 249, 0.05) 0%,
    rgba(249, 249, 249, 0.05) 50%,
    rgba(111, 111, 111, 0.05) 50%,
    rgba(111, 111, 111, 0.05) 100%
  ),
  linear-gradient(
    166deg,
    rgb(226, 234, 252) 0%,
    rgb(226, 234, 252) 50%,
    rgba(220, 220, 220, 0.05) 50%,
    rgba(220, 220, 220, 0.05) 100%
  ),
  linear-gradient(
    212deg,
    rgba(80, 80, 80, 0.05) 0%,
    rgba(80, 80, 80, 0.05) 50%,
    rgba(243, 243, 243, 0) 50%,
    rgba(243, 243, 243, 0) 100%
  ),
  radial-gradient(
    circle at center center,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
