#gradient-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  --gradient-color-1: #fff;
  --gradient-color-2: #ced4da;
  --gradient-color-3: #f8f9fa;
  --gradient-color-4: #072ac8;
}
