// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Roots */
:root {
  --mainbg-color: #f5f0ed;
  --primary-color: #dcdcdc;
  --standard-gold: #d5b980;
  --white-smoke: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  scroll-behavior: smooth;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}